###  Why Python?

### Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str  
Numeric Types:	int, float, complex  
Sequence Types:	list, tuple, range  
Mapping Type:	dict  
Set Types:	set, frozenset  
Boolean Type:	bool  
Binary Types:	bytes, bytearray, memoryview

### Ways to run python

Immediate mode - cmd or terminal prompt using direct console(Command 'python' Enter)  
Script mode - Create a file with .py extension - 'python file.py' Enter  
Integrated Developement Environment (IDE) - spyder, pycharm, jupyter notebook

# Why Python?

In [1]:
!python --version

Python 3.9.7

In [2]:
a = 5;
A = 4;
a+A
#Addition

9

In [8]:
a = 3+5+45+4+56
a

113

In [9]:
a = (2+4+55+34 +4)
a

99

In [3]:
a, b, c = 23,54,"hi"
a,b,c

(23, 54, 'hi')

In [13]:
a = b = c = "test"
b

'test'

In [15]:
a = "python"
type(a)

str

In [16]:
b = 5.2
type(b)

float

In [17]:
c=3
type(c)

int

In [ ]:
a=2,b=3.4 add and store in sum
subtract and store in sub
print both outputs

In [21]:
a=2
b=3.4
sum=a+b
sub=a-b
sum,sub

(5.4, -1.4)

In [22]:
a=2
b=3.4
c=a+b
c
type(c)

float

In [23]:
c = 33
type(c)

int

In [24]:
d = 2+3j
type(d)

complex

In [ ]:
x = ("apple", "banana", "cherry")
type(x)

In [ ]:
x = ["apple", "banana", "cherry"]
type(x)

In [ ]:
x = {"name" : "John", "age" : 36}
type(x)

In [ ]:
x = {"apple", "banana", "cherry"}
type(x)

### List

1. Allows Heterogenous
2. Index start from 0
3. Mutable using index
4. [] Square bracker represents list

In [35]:
sample_list = [12,43,"fd",1+3j]
sample_list

[12, 43, 'fd', (1+3j)]

In [26]:
type(sample_list)

list

In [29]:
sample_list[0]

12

In [30]:
sample_list[2] = 3.5

In [31]:
sample_list

[12, 43, 3.5, (1+3j)]

In [32]:
sample_list.reverse()

In [33]:
sample_list

[(1+3j), 3.5, 43, 12]

### Tuple

1. Allows Heterogenous
2. Retrive using index
3. Cannot change the data once declared - immutable
4. ()

In [5]:
sample_tuple = (1,43,56,3.5,"hi",1+2j)
sample_tuple

(1, 43, 56, 3.5, 'hi', (1+2j))

In [6]:
type(sample_tuple)

tuple

In [7]:
sample_tuple[3]

3.5

In [13]:
# sample_tuple[3] = 13  #tuple object doesn't support item assignment

### Set

1. Add heterogenous
2. Does not allow duplicates
3. Cannot access using index
4. immutable
5. sometimes can be ordered

In [14]:
sample_set = {1,43,23,45,67,22,21,32,0,25,3,66,66,0,23,43,1,"a","abc"}
type(sample_set)

set

In [15]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 43, 45, 66, 67, 'a', 'abc'}

In [4]:
sample_set.remove(43)
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 45, 66, 67, 'a', 'abc'}

In [6]:
sample_set.pop()

1

### Dictionary

1. dictionary key value pair datastructue
2. key is unique and value can be duplicated
3. Can retrieve the value using key
4. can change the value using key
5. key is immutable

In [64]:
sample_dict = {"a":"alpha",1:"first",2:"second",3:"third",1:"fourth",5:"fourth",6:"sixth"}
type(sample_dict)

dict

In [65]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [66]:
sample_dict[5]

'fourth'

In [61]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fifth', 6: 'sixth'}

In [68]:
sample_dict[9] = "seventh"
sample_dict

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'seventh',
 5: 'fourth',
 6: 'sixth',
 9: 'seventh'}

### String

1. String can be retrieved using index
2. String is immutable

In [78]:
a = "hi how are you?"

In [ ]:
type(a)

In [ ]:
a[9]

In [ ]:
a[3] = 'u'

In [83]:
#Type Conversion
a = 23.975
type(a)

float

In [84]:
a = int(a)
a

23

In [85]:
a = 23
type(a)

int

In [86]:
a = float(a)
a

23.0

In [87]:
a ="10"
type(a)

str

In [88]:
a = int(a)
a

10

In [22]:
a = "rer"
# int(a)        #value error as string cannot be converted into integer

In [90]:
#you can change any 
a = 345
a = str(a)
a

'345'

In [7]:
lst = [1,3,5,4,3,4]
type(lst)

list

In [10]:
tpl = tuple(lst)
tpl

(1, 3, 5, 4, 3, 4)

In [9]:
lst = list(tpl)
lst

[1, 3, 5, 4, 3, 4]

In [ ]:
set(lst)

In [24]:
lst1 = [[1,2],[3,5],["a",["gr","ewd"]]]
lst1

[[1, 2], [3, 5], ['a', ['gr', 'ewd']]]

In [25]:
lst1[1][1]

5

In [ ]:
dict(lst1)

In [15]:
a = list(input("Enter a number "))
a

Enter a number 45

['4', '5']

### Indendation

In [ ]:
a = int(input("Enter your age: "))

In [ ]:
print("Your age is ",a)

### Condition Statement

In [30]:
a = int(input('Enter your age: '))

if a>24:
    print("you are a adult")
elif a==0:
    print("New born")
else:
    print("you are teenager")

Enter your age: 20
you are teenager

In [31]:
list(range(5,10))

[5, 6, 7, 8, 9]

### Control Statement

In [24]:
a = [34,32,67,87,3]

for i in range(0,5):
    print(a[i])

34
32
67
87
3

In [38]:
len(a)

5

In [39]:
for i in range(0,len(a)):
    print(a[i])

34
32
67
87
3

In [40]:
for i in a:
    print(i)

34
32
67
87
3

In [44]:
for i in range(0,len(a)):
    if(i==1):
        if(a[i]>10):
            print("it is greater")

it is greater

In [ ]:
for i in range(0,len(a)):
    if(a[1]>10):
            print("it is greater")

In [56]:
stringa = input("Enter your name:")

Enter your name:

In [57]:
for i in stringa:
    print(i)
    if i=='e':
        print("E is there ")
        break

In [58]:
for i in stringa:
    print(i)
    if i=='e':
        print("I am going to skip this control")
        print("'E' is there")

In [59]:
i = 5
while i>0:
    print(i)
    i = i-1

5
4
3
2
1

In [61]:
#Function
#"""""" = docstring
def test():
    """This is a test function"""
    print("Hi")

In [62]:
test()

Hi

In [63]:
#test?
#help(test)
test.__doc__

'This is a test function'

In [68]:
def sum(a,b):
    print(a+b)

In [69]:
sum(4,6)

10

In [70]:
def ExampleMultipleReturn():
    return 33,54
a, b = ExampleMultipleReturn()
a

33

In [71]:
b

54

In [73]:
### Recursive Function

def fact(num):
    if(num==1):
        return 1
    else:
        return(num*fact(num-1))
fact(4)

24

In [78]:
lst = ['Apple','orangE','BerrY','Grape']
answer = []

for i in lst:
    print(i)
    print("First letter of {} is {} ".format(i,i[0]))
    firstLetter = i[0]
    
    print("Length of {} is {}".format(i,len(i)))
    
    print("Last letter of {} is {} ".format(i,i[len(i)-1]))
    lastLetter = i[len(i)-1]
    
    print("First letter of {} is {}".format(i,firstLetter.isupper()))
    print("Last letter of {} is {}".format(i,lastLetter.islower()))
    
    isFirstLetterUpper = firstLetter.isupper()
    isLastLetterLower = lastLetter.islower()
    
    if(isFirstLetterUpper and isLastLetterLower):
        answer.append(i)

print(answer)

Apple
First letter of Apple is A
Length of Apple is 5
Last letter of Apple is e
First letter of Apple is True
Last letter of Apple is True
orangE
First letter of orangE is o
Length of orangE is 6
Last letter of orangE is E
First letter of orangE is False
Last letter of orangE is False
BerrY
First letter of BerrY is B
Length of BerrY is 5
Last letter of BerrY is Y
First letter of BerrY is True
Last letter of BerrY is False
Grape
First letter of Grape is G
Length of Grape is 5
Last letter of Grape is e
First letter of Grape is True
Last letter of Grape is True
['Apple', 'Grape']

In [80]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [84]:
list(range(6,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [86]:
lst = [242,54,5465,65, "ste","tref"]
lst = [3,43,4,45,456,456,56,57,567,56,756,7,7]
for i in range(0,len(lst)):
    print(lst[i])

3
43
4
45
456
456
56
57
567
56
756
7
7

In [87]:
lst = [1,4,3,2,543,5435,435,435,345,34523,423]
list(range(len(lst)-1,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [90]:
newlst = []
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

423
34523
345
435
435
5435
543
2
3
4
1

In [91]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [93]:
list(range(10,-1,-3))

[10, 7, 4, 1]

In [ ]:
lst

In [94]:
lst[0:3]

[1, 4, 3]

In [96]:
lst[3:7]

[2, 543, 5435, 435]

In [97]:
square = lambda  x: x**2

In [98]:
square(3)

9

In [99]:
lst = [1,2,3,4,5]

In [100]:
newList = []

for i in lst:
    newList.append(square(i))
print(newList)

[1, 4, 9, 16, 25]

In [105]:
power = lambda x: x**p
p = 2

list(map(power,lst))

[1, 4, 9, 16, 25]

In [159]:
p = 3
list(map(power,lst))

[33792250337,
 32768,
 85184,
 42875,
 27,
 74088,
 160103007,
 29791,
 2197,
 1,
 8,
 27,
 12167,
 12167,
 12167,
 12167,
 32768]

In [108]:
def abc(x):
    return x**2

In [109]:
list(map(abc,lst))

[1, 4, 9, 16, 25]

In [110]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [160]:
evenList = []
for i in lst:
    if (i%2==0):
       evenList.append(i)
print(newList)

[2, 4, 6, 8, 2, 2]

In [113]:
list(filter(lambda x : x%2==0,lst))

[2, 4, 6, 8, 2, 2]

In [161]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [162]:
if 1 in lst:
    print("1 is there")
else:
    print("not there")

1 is there

In [163]:
sum = 0
for i in lst:
    sum = sum + i
print(sum)

46

In [165]:
import functools

In [166]:
from functools import reduce
reduce(lambda x,y: x+y,lst)

46

In [178]:
lst = [3233,32,44,35,3,42,543,31,13,1,2,3,23,23,23,23,32]
reduce(lambda x,y :x if x>y else y,lst)

3233

In [183]:
reduce(greatest,lst)

3233

In [186]:
n = int(input("Enter the number for factorial: "))

Enter the number for factorial: 5

In [188]:
reduce(lambda x,y: x*y, list(range(1,n+1)))

120

In [192]:
x = int(input('Enter number: '))
reduce(lambda x,y: x*y, list(range(1,n+1)))

Enter number: 5

120

In [193]:
list(range(1,n))

[1, 2, 3, 4]

In [194]:
lst = [1,3,2,4,5]

In [195]:
newlist=[]
for i in lst:
    newlist.append(i**2)
print(newlist)

[1, 9, 4, 16, 25]

### list comprehension

In [ ]:
[i**2 for i in lst]

In [ ]:
[i for i in lst if i%2==0]

In [198]:
["even" if i%2==0 else "odd" for i in lst ]

['odd', 'odd', 'even', 'even', 'odd']

In [200]:
lst1 = [1,2,3,6,4]
lst2 = [5,3,7,6,1]

In [201]:
[i for i in lst1 for j in lst2 if i==j]

[1, 3, 6]

In [202]:
[(i,j) for i in lst1 for j in lst2 if i!=j]

[(1, 5),
 (1, 3),
 (1, 7),
 (1, 6),
 (2, 5),
 (2, 3),
 (2, 7),
 (2, 6),
 (2, 1),
 (3, 5),
 (3, 7),
 (3, 6),
 (3, 1),
 (6, 5),
 (6, 3),
 (6, 7),
 (6, 1),
 (4, 5),
 (4, 3),
 (4, 7),
 (4, 6),
 (4, 1)]

In [203]:
a = int(input("Enter the number "))

Enter the number 45

In [26]:
a = 10
b = 0
# a/b                      #error as number cannot be divided by zero
print("I have done division")

I have done division

In [27]:
try:
    a = 10
    b = 0
    a/b
except :
    print("Divide By Zero")
print("I have done division")

Divide By Zero
I have done division

In [211]:
try:
    a = int(input("Enter the number "))
except (ValueError) as e:
    print("Invalid input: ",e)
    print("Please enter a valid number")
except (Exception) as e:
    print("Exception")
finally:
    print("Inside finally block")

Enter the number asdf
Invalid input:  invalid literal for int() with base 10: 'asdf'
Please enter a valid number
Inside finally block

In [214]:
from sklearn.linear_model import LinearRegression

In [215]:
model=LinearRegression()

In [28]:
nums=[25,56,56,63]
nums[0]

25

In [30]:
nums[3]

63

In [31]:
nums[2:]

[56, 63]

In [226]:
nums[-1]

63

In [33]:
nums[-4]

25

In [228]:
names=['shreya','siddharth','shivani']
names[0]

'shreya'

In [229]:
values=[11.5,'Shreya',45]
values

[11.5, 'Shreya', 45]

In [236]:
mix=[names,values]
mix

[['shreya', 'siddharth', 'shivani'], [11.5, 'Shreya', 45]]

In [247]:
nums=[25,56,56,63]
nums.append(45)
nums.insert(3,77)
nums

[25, 56, 56, 77, 63, 45]